<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='vendor/simple-line-icons/css/simple-line-icons.css')}}" rel="stylesheet">
 
    <!-- Custom styles for this template --> 
     <link href="{{ url_for('static',filename='css/sb-admin-2.min.css')}}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">

</head>

<body {% block body %}{% endblock %} >
    

    {% block content %}
    {% endblock content%}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js')}} "></script>
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}} "></script>
    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <script src="{{ url_for('static',filename='js/sb-admin-2.min.js')}}"></script>

    </body>
       

        

</html>